FABRIC_SQL_ENDPOINT_OPERATIONS=
FABRIC_LAKEHOUSE_OPERATIONS=LH_1

FABRIC_SQL_ENDPOINT_FINANCE=
FABRIC_LAKEHOUSE_FINANCE=LH_2

# Azure
AZURE_TENANT_ID=
AZURE_SUBSCRIPTION_ID=

# FOUNDRY
AZURE_AI_PROJECT_ENDPOINT=
MODEL_DEPLOYMENT=gpt-4o
MCP_SERVER_URL=http://localhost:8000